PushVodIngestion/Service References/ServiceReference1/Service186.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://14.140.112.80/vodService2/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PushVodIngestion.ServiceProvider" />
  <xs:import schemaLocation="http://14.140.112.80/vodService2/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Framework" />
  <xs:import schemaLocation="http://14.140.112.80/vodService2/Service1.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://14.140.112.80/vodService2/Service1.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PushVodIngestion.DataProvider" />
  <xs:import schemaLocation="http://14.140.112.80/vodService2/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FrameWork" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PushVodIngestion.ServiceProvider" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PushVodIngestion.ServiceProvider" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityTypeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Framework" minOccurs="0" name="GetEntitiesResult" nillable="true" type="q3:ArrayOfLINQEntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesBasedOnCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="predicate" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="value" nillable="true" type="q4:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesBasedOnConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Framework" minOccurs="0" name="GetEntitiesBasedOnConditionResult" nillable="true" type="q5:ArrayOfLINQEntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PushVodIngestion.DataProvider" minOccurs="0" name="playList" nillable="true" type="q6:tblPlaylist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePlaylistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="data_command">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlCommand" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="data_commandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIngestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIngestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PushVodIngestion.DataProvider" minOccurs="0" name="GetUserIngestionResult" nillable="true" type="q7:ArrayOftblIngestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserChannels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserChannelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PushVodIngestion.DataProvider" minOccurs="0" name="GetUserChannelsResult" nillable="true" type="q8:ArrayOftblPlayoutPort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Framework" minOccurs="0" name="entity" nillable="true" type="q9:LINQEntityBase" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FrameWork" minOccurs="0" name="entityState" type="q10:EntityState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Framework" minOccurs="0" name="SaveResult" nillable="true" type="q11:LINQEntityBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="data_set">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlCommand" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="data_setResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data_setResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bulk_Copy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="destinationTable" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bulk_CopyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>