PushVodIngestion/Service References/ServiceReference1/Service185.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Framework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Framework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://14.140.112.80/vodService2/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FrameWork" />
  <xs:import schemaLocation="http://14.140.112.80/vodService2/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfLINQEntityBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LINQEntityBase" nillable="true" type="tns:LINQEntityBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLINQEntityBase" nillable="true" type="tns:ArrayOfLINQEntityBase" />
  <xs:complexType name="LINQEntityBase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FrameWork" minOccurs="0" name="BusinessValidationResult" nillable="true" type="q1:BusinessValidationResult" />
      <xs:element minOccurs="0" name="LINQEntityGUID" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FrameWork" minOccurs="0" name="LINQEntityState" type="q2:EntityState" />
      <xs:element minOccurs="0" name="LINQEntityKeepOriginal" type="xs:boolean" />
      <xs:element minOccurs="0" name="LINQEntityOriginalValue" nillable="true" type="tns:LINQEntityBase" />
      <xs:element minOccurs="0" name="LINQEntityDetachedEntities" nillable="true" type="tns:ArrayOfLINQEntityBase" />
      <xs:element minOccurs="0" name="IsRoot" nillable="true" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="LINQEntityBase" nillable="true" type="tns:LINQEntityBase" />
</xs:schema>