PushVodIngestion/Service References/ServiceReference1/Service182.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FrameWork" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FrameWork" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BusinessValidationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessValidationResult" nillable="true" type="tns:BusinessValidationResult" />
  <xs:simpleType name="EntityState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotTracked" />
      <xs:enumeration value="Original" />
      <xs:enumeration value="New" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Detached" />
      <xs:enumeration value="Deleted" />
      <xs:enumeration value="CancelNew" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntityState" nillable="true" type="tns:EntityState" />
</xs:schema>